@import url("/css/normalize.css");
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 992px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_big {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #222222;
  text-align: center;
}

.text_italic {
  font-size: 16px;
  line-height: 1.2;
  font-style: italic;
  color: #777777;
  text-align: center;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  font-size: 26px;
  line-height: 41px;
  letter-spacing: 0.05em;
  color: #fed136;
  position: absolute;
  left: 10px;
}

.header-menu {
  position: absolute;
  right: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.header-menu__link {
  font-size: 14px;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.header-menu__link:hover {
  text-decoration: underline;
}

.header__menu-burger {
  height: 0px;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__portfolio {
  background-color: #f7f7f7;
}

.page__team {
  background-color: #f9f9f9;
}

.page__contact {
  background-color: #222;
  position: relative;
}

.main-block {
  position: relative;
  max-height: 700px;
}

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 277px 0 160px 0;
  position: relative;
  z-index: 2;
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 55px 0;
}

.main-block__title {
  font-size: 40px;
  line-height: 1.2;
  font-style: italic;
  letter-spacing: -0.025em;
  text-align: center;
  color: #fff;
}

.main-block__label {
  font-size: 75px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  text-align: center;
  color: #fff;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block__button {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 36px;
  max-width: 240px;
  min-height: 65px;
  background-color: #fed136;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__button:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  color: #fed136;
  background-color: #fff;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-block__image-cover {
  position: absolute;
  max-height: 700px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  background-color: #000;
}

.services__container {
  padding: 120px 0;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__box:not(:last-child) {
  margin: 0 0 70px 0;
}

.services__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 270px;
  min-width: 100px;
  padding: 0 5px;
}

.services__body:not(:last-child) {
  margin: 0 56px 0 0;
}

.services__icon {
  height: 75px;
}

.services__icon:not(:last-child) {
  margin: 0 0 25px 0;
}

.services__label {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #222222;
  text-align: center;
}

.services__label:not(:last-child) {
  margin: 0 0 18px 0;
}

.services__description {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: #777777;
  text-align: center;
}

.portfolio__container {
  padding: 120px 15px;
}

.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__box:not(:last-child) {
  margin: 0 0 70px 0;
}

.portfolio__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.portfolio__column:not(:last-child) {
  margin: 0 0 50px 0;
}

.item-portfolio__icon {
  height: 300px;
  width: 291px;
}

.item-portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 93px;
  width: 291px;
}

.item-portfolio__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #333333;
}

.item-portfolio__text {
  font-size: 14px;
  line-height: 1.2;
  font-style: italic;
  color: #737373;
}

.about__container {
  padding: 120px 0;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__box:not(:last-child) {
  margin: 0 0 70px 0;
}

.about__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 55px;
  position: relative;
  min-height: 168px;
}

.about__row_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__content {
  max-width: 310px;
  text-align: right;
  margin: 6px 38px 0 0;
}

.about__content_right {
  text-align: left;
  margin: 6px 0 0 38px;
}

.about__label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #222222;
  margin: 0 0 17px 0;
}

.about__label span {
  text-transform: uppercase;
}

.about__description {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #777777;
}

.about__image {
  position: absolute;
  left: 405.5px;
  width: 183px;
  height: 182px;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
}

.about__image img {
  border-radius: 50%;
}

.about__line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 3px;
  height: 93px;
  background-color: #f1f1f1;
}

.about__last-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 183px;
  height: 182px;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.69);
  color: #ffffff;
  background-color: #fed136;
}

.team__container {
  max-width: 800px;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__box:not(:last-child) {
  margin: 0 0 70px 0;
}

.team__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.team__item:not(:last-child) {
  margin: 0 28px 0 0;
}

.item-team__image {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  border: 7px solid #ffffff;
}

.item-team__image img {
  border-radius: 50%;
}

.item-team__image:not(:last-child) {
  margin: 0 0 19px 0;
}

.item-team__worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-team__worker:not(:last-child) {
  margin: 0 0 14px 0;
}

.item-team__name {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #222222;
  margin: 0 0 8px 0;
}

.item-team__profession {
  font-size: 14px;
  line-height: 1.2;
  color: #777777;
}

.item-team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 142px;
}

.item-team__social > :not(:last-child) {
  margin: 0 9px 0 0;
}

.social-item__twitter {
  height: 41px;
  width: 41px;
  background-image: url("../img/team/Twitter.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-item__twitter:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Twitter.png");
}

.social-item__facebook {
  height: 41px;
  width: 41px;
  background-image: url("../img/team/Facebook.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-item__facebook:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Facebook.png");
}

.social-item__pinterest {
  height: 41px;
  width: 41px;
  background-image: url("../img/team/Pinterest.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-item__pinterest:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Pinterest.png");
}

.social-item__google {
  height: 41px;
  width: 41px;
  background-image: url("../img/team/Google+.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-item__google:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Google+.png");
}

.team__description {
  max-width: 601px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  color: #777777;
  margin: 50px 0 0 0;
}

.partners__container {
  max-width: 800px;
  padding: 60px 0;
}

.partners__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__logos img {
  height: 42px;
  min-width: 100px;
}

.partners__logos img:not(:last-child) {
  margin: 0 0 30px 0;
}

.contact__container {
  padding: 120px 15px;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__box:not(:last-child) {
  margin: 0 0 70px 0;
}

.contact__title {
  color: #fff;
}

.contact__title:not(:last-child) {
  margin: 0 0 18px 0;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 945px;
  width: 100%;
}

.form__items:not(:last-child) {
  margin: 0 0 29px 0;
}

.form-item__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form-item__user:not(:last-child) {
  margin: 0 28px 0 0;
}

.form-item__user > *:not(:last-child) {
  margin: 0 0 27px 0;
}

.contact__name {
  height: 52px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding: 0 0 0 21px;
}

.contact__name::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__name:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__name::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__name::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__email {
  height: 52px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding: 0 0 0 21px;
}

.contact__email::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__email:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__email::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__email::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__subject {
  height: 52px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding: 0 0 0 21px;
}

.contact__subject::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__subject:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__subject::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__subject::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 457px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  padding: 20px 0 0 20px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.contact__message::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__message:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__message::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__message::placeholder {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  color: #bbb;
}

.contact__send {
  z-index: 3;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5px 36px;
  max-width: 240px;
  min-height: 65px;
  background-color: #fed136;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact__send:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  color: #fed136;
  background-color: #fff;
}

.contact__image {
  position: absolute;
  z-index: 0;
  right: -25px;
  top: 122px;
}

.footer__container {
  position: relative;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy {
  padding: 0 0 0 10px;
  margin: 0 0 0 -10px;
  position: absolute;
  left: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #555555;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.footer__social > :not(:last-child) {
  margin: 0 9px 0 0;
}

.social__twitter {
  height: 41px;
  width: 41px;
  background-image: url("../img/copy/Twitter.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__twitter:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Twitter.png");
}

.social__facebook {
  height: 41px;
  width: 41px;
  background-image: url("../img/copy/Facebook.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__facebook:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Facebook.png");
}

.social__pinterest {
  height: 41px;
  width: 41px;
  background-image: url("../img/copy/Pinterest.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__pinterest:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Pinterest.png");
}

.social__google {
  height: 41px;
  width: 41px;
  background-image: url("../img/copy/Google+.png");
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__google:hover {
  height: 41px;
  width: 41px;
  background: url("../img/team/hover/Google+.png");
}

@media screen and (max-width: 992px) {
  ._container {
    max-width: 800px;
  }
  .main-block__title {
    font-size: 25px;
  }
  .main-block__label {
    font-size: 37.5px;
  }
  .main-block__body {
    max-height: 500px;
  }
  .main-block__body > *:not(:last-child) {
    margin: 0 0 45px 0;
  }
  .services__container {
    padding: 60px 0;
  }
  .portfolio__container {
    padding: 60px 15px;
  }
  .about__container {
    padding: 60px 0;
  }
  .team__container {
    max-width: 750px;
    padding: 60px 0;
  }
  .contact__container {
    padding: 60px 0;
  }
  .header__menu {
    margin: 0 0 0 200px;
  }
  .main-block__body {
    padding: 177px 0 160px 0;
  }
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px;
  }
  .about__content {
    max-width: 280px;
  }
  .about__image {
    left: 308.5px;
  }
  .team__item:not(:last-child) {
    margin: 0 20px 20px 0;
  }
}

@media screen and (max-width: 825px) {
  ._container {
    max-width: 700px;
  }
  .header__menu {
    margin: 0 0 0 100px;
  }
  .header-menu__item:not(:last-child) {
    margin: 0 30px 0 0;
  }
  .about__image {
    left: 258.5px;
  }
  .about__content {
    max-width: 230px;
  }
  .about__label {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .title_big {
  font-size: 30px;
  } 
  .text_italic {
  font-size: 14px;
  } 
  ._container {
    max-width: 700px;
  }
  .header__logo {
    margin: 0 0 0 20px;
  }
  .header-menu__item:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .main-block__title {
    font-size: 20px;
  }
  .main-block__label {
    font-size: 45px;
  }
  .main-block__body > *:not(:last-child) {
    margin: 0 0 25px 0;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__row:not(:last-child) {
    margin: 0 0 40px 0;
  }
  .about__content {
    position: absolute;
    bottom: 0;
    max-height: 100px;
    max-width: 500px;
    text-align: center;
    margin: 0;
    padding: 0 5px;
  }
  .about__image {
    position: relative;
    left: 0;
  }
  .about__line {
    display: none;
  }
  .about__label {
    margin: 0 0 5px 0;
  }
  .team__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .footer__copy {
    position: static;
  }
  .footer__social {
    margin: 0 0 10px 0;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 110px;
  }
}

@media screen and (max-width: 635px) {
  .header__container {
    max-height: 100px;
  }
  .header-menu {
    display: none;
  }
  .header__menu-burger {
    position: absolute;
    right: 40px;
    height: 60px;
    width: 60px;
    overflow: visible;
  }
  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .services__body:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .team__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .form__items {
    max-width: 925px;
    padding: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-item__user {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .form-item__user:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .contact__message {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: none;
  }
}
